@import '~antd/dist/antd.css';


.float-left {
  float : left
}

.float-right {
  float : right
}

.unhoverable-menu-item {
  color: white !important;
  opacity: 1 !important;
}

.unhoverable-menu-item:hover {
    background-color: transparent !important;
    color: inherit !important;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.page-content {
  padding: 0.5rem 2rem 2rem 2rem
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: darkblue;
  color: white;
}

.central-form {
    background-color: white;
    color: black;
    margin: 5% 15%;
    padding: 2rem;
    box-shadow: -2px 5px 14px -1px rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray;
    border-radius: 10px;
  }
  
.central-form-large {
background-color: white;
color: black;
margin: 2% 5%;
padding: 2rem;
box-shadow: -2px 5px 14px -1px rgba(0, 0, 0, 0.2);
border: 1px solid lightgray;
border-radius: 10px;
}

.central-form-large {
  background-color: white;
  color: black;
  margin: 2% 5%;
  padding: 2rem;
  box-shadow: -2px 5px 14px -1px rgba(0, 0, 0, 0.2);
  border: 1px solid lightgray;
  border-radius: 10px;
}

.central-text {
  text-align: center;
}